<div class="container">
<h3>Your Coupons
<div class="form-inline pull-right">
	<div class="input-group">
		<span class="input-group-btn">
    		<button type="button" class="btn btn-default" ng-click="couponController.search()">
    			<span class="glyphicon glyphicon-search"></span> search
    			<!-- <span class="caret"></span> -->
    		</button>
  		</span>
		<!-- <select id="inputClientType" class="form-control" placeholder="CouponType" required autofocus ng-model="couponController.searchBy.type"> -->
		<select id="inputClientType" class="form-control" ng-init="" ng-model="couponController.couponType">
			<option value=""  selected>CouponType</option>
			<!-- <option value='ALL' >All</option> -->
			<option ng-selected="{{t == couponController.couponType}}"
            	ng-repeat="t in couponController.couponTypes" value="{{t}}">{{t}}
            </option>
	    </select>
        <span class="input-group-btn">
        <input type="number" class="form-control" style="width: 100px;" placeholder="Price" ng-model="couponController.couponPrice">
        </span>
        <span class="input-group-btn">
			<button class="btn btn-default"	ng-click="couponController.refresh()">
				<span class="glyphicon glyphicon-refresh"></span> Refresh
			</button>
			<button class="btn btn-default"	ng-click="couponController.scrollTo('bottom')">
				<span class="glyphicon glyphicon-triangle-bottom"></span> bot
			</button>	
		</span>
	</div>    
</div>
</h3>
<table class="table table-striped">
		<thead>
			<tr>
				<th ng-show="false">Index</th>
				<th>ID</th>
				<th>Title</th>
				<th>Type</th>
				<th>StartDate</th>
				<th>EndDate</th>
				<th>Image</th>
				<th>Message</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="coupon in couponController.coupons">

				<td ng-show="false">{{$index}}</td>
				<td>{{ coupon.id }}</td>
				<td title="{{ coupon.massage }}">{{ coupon.title }}</td>
				<td>{{ coupon.type }}</td>
				<td>{{ coupon.startDate | date:'yyyy-MM-dd HH:mm' }}</td>
				<td>{{ coupon.endDate | date:'yyyy-MM-dd HH:mm' }}</td>
				<!-- <td><img id="theImage" src="{{'../uploads/' + coupon.image}}" alt="no image" title="{{ coupon.image }}" style="width:50px;height:30px;"></td> -->
				<td><img id="theImage" src="{{'../uploads/' + coupon.image}}" alt="no image" title="{{ coupon.image }}" onError="this.onerror=null;this.src='/CouponProjectWeb/no_image.png';" style="width:50px;height:30px;"></td>
				<td>{{ coupon.massage }}</td>
				<td>{{ coupon.price }}</td>


			</tr>
		</tbody>
	</table>
	<button class="btn btn-default pull-right" ng-click="couponController.scrollTo('top')">
		<span class="glyphicon glyphicon-triangle-top"></span> top
	</button>
	
	<div>
  		<input type="file" ngf-select="couponController.onFileSelect($files)" multiple>
	</div>
	
</div>

