<!DOCTYPE html>
<html>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-app="adminApp" ng-controller="AdminCtrl as adminCtrl">

<div class="container">

<h3>Customers</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-1">Edit</th>
      <th class="col-md-1" ng-show="false">Index</th>
      <th class="col-md-1">ID</th>
      <th class="col-sm-4">Customer Name</th>
      <th class="col-sm-2">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in adminCtrl.customers">
      <td>
        <button class="btn" ng-click="adminCtrl.editCustomer($index)">
          <!-- <span class="glyphicon glyphicon-pencil"></span>  Edit  -->
          <span class="glyphicon glyphicon-edit"></span>  Edit
        </button>
      </td>
      <td ng-show="false">{{$index}}</td>
      <td>{{ customer.id }}</td>
      <td>{{ customer.customerName }}</td>
      <td>{{ customer.password }}</td>
    </tr>
  </tbody>
</table>

<hr>
<button class="btn btn-success" ng-click="adminCtrl.editCustomer('new')">
<span class="glyphicon glyphicon-user"></span>  Create New Customer
</button>
<hr>

<h3 ng-show="adminCtrl.edit">Create New User:</h3>
<h3 ng-hide="adminCtrl.edit">Edit User:</h3>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Customer Name:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="adminCtrl.customerName" ng-disabled="!adminCtrl.create" placeholder="Customer Name">
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-10">
    <!-- <input type="password" ng-model="adminCtrl.passw1" placeholder="Password">  -->
    <input type="text" ng-model="adminCtrl.passw1" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Repeat:</label>
    <div class="col-sm-10">
    <!--  <input type="password" ng-model="adminCtrl.passw2" placeholder="Repeat Password"> -->
    <input type="text" ng-model="adminCtrl.passw2" placeholder="Repeat Password">
    </div>
  </div>
</form>


<hr>
<!-- <button class="btn btn-success" ng-disabled="adminCtrl.error || adminCtrl.incomplete" ng-click="adminCtrl.saveChanges()">  -->
<button class="btn btn-success" ng-disabled="!adminCtrl.watch()" ng-click="adminCtrl.saveChanges()">
<span class="glyphicon glyphicon-save"></span>  Save Changes
</button>

<hr>
<button class="btn btn-success" ng-click="adminCtrl.getCustomers()">
<span class="glyphicon glyphicon-user"></span>  Refresh
</button>

</div>

<script src= "js/admin.js"></script>

</body>
</html>